﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="website.aspx.cs" Inherits="WebApplication1.website" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:Label ID="Label1" runat="server" Text="Laboratorinis darbas nr. 1 &quot;Kryžiažodis&quot;"></asp:Label>
    
    </div>
&nbsp;&nbsp;<asp:Table ID="Table3" runat="server" style="margin-left: 0px" Width="371px" BorderColor="Black" BorderStyle="Solid" GridLines="Both">
        </asp:Table>
        &nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<asp:Table ID="Table4" runat="server" BorderStyle="Solid" Width="376px">
        </asp:Table>
&nbsp;<asp:Table ID="Table5" runat="server">
        </asp:Table>
        <p>
            <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Pradeti" />
        </p>
        <asp:Table ID="Table6" runat="server" Width="346px">
        </asp:Table>
    </form>
</body>
</html>
